* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    text-decoration: none;
  }
  
  #hoscreen {
    width: 100%;
    /* border: 2px solid red; */
  }

  /* ----------------**popup**-------------- */

  #popup{
    position: absolute;
    width: 220px;
    height: 165px;
    border: 1px solid white;
    background-color: white;
    right: 9%;
    top: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0.75rem 0 #838282;
  }

  #popup>div:nth-child(1)>p>b{
    font-size: 25px;
    /* border:1px solid red; */
  }

  #popup>div:nth-child(1){
    border-bottom: 2px solid rgb(181, 180, 180);
    padding-bottom: 17px;
  }

  #popup>div:nth-child(1)>p:nth-child(2){
    font-size: 12px;
    font-weight: 600;
    color: rgb(103, 102, 102);
    margin-top: 6px;
  }

  #popup>div:nth-child(1) > button {
    width: 90%;
    height: 40px;
    border: 1px #9f2089;
    background-color: #9f2089;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 2px;
  }

  #popup>div:nth-child(2){
    display: flex;
    padding-top: 20px;
  }

  #popup>div:nth-child(2)>i{
    color: rgb(95, 95, 95);
    margin-left: 15px;
  }
  #popup>div:nth-child(2)>p{
    margin-left: 20px;
    font-size: 18px;
  }


  /* ----------------------**popin**------------------ */

  #popin{
    position: absolute;
    width: 220px;
    height: 165px;
    border: 1px solid white;
    background-color: white;
    right: 9%;
    top: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0.75rem 0 #838282;
  }

  #popin>div:nth-child(1)>div:nth-child(2)>p>b{
    font-size: 18px;
  }

  #popin>div:nth-child(1){
    padding-bottom: 17px;
    display: flex;
  }

  #popin>div:nth-child(1)>div:nth-child(1)>i{
    margin-top: 20px;
    margin-right: 10px;
    color: rgb(171, 220, 251);
  }

  #popin>div:nth-child(1)>div:nth-child(2)>p:nth-child(2){
    font-size: 14px;
    font-weight: 600;
    color: rgb(103, 102, 102);
    margin-top: 6px;
  }

  #popin>div:nth-child(1)>div:nth-child(3)>i{
    margin-top: 17px;
    margin-left: 20px;
    color: grey;
  }

  #popin>div:nth-child(2)>div{
    display: flex;
    border-top: 1px solid rgb(181, 180, 180) ;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  #popin>div:nth-child(2)>div>i{
    color: rgb(95, 95, 95);
    margin-left: 15px;
  }
  #popin>div:nth-child(2)>div>p{
    margin-left: 20px;
    font-size: 18px;
  }

    /* ---------------------**propop**---------------------- */

#propop{
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 900px;
  background-color: rgba(33, 33, 33, 0.7);
  left: 0%;
}

#propop>div{
  width: 450px;
  height: 280px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid white;
  background-color: white;
  border-radius: 30px;
}

#propop>div>i{
  color: #7a7a7a;
  margin-left: 90%;
  margin-top: 30px;
}

#propop>div>form{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

#propop>div>form>label{
  color: #9d9e9f;
}

#propop>div>form>input{
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom:1px solid #b0b1b2;
  margin-bottom: 15px;
}

#propop>div>form>button{
  width: 96%;
  height: 39px;
  margin-left: 7px;
  margin-top: 10px;
  background-color: #9f2089;
  border: 1px solid #9f2089;
  font-size: 16px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;
}

/* ----------------------------****------------------------------------ */
  
  #navbar {
    width: 100%;
    /* border: 2px solid blue; */
    height: 70px;
    border-bottom: 1px solid rgb(161, 160, 160);
  }
  
  #nalo{
      width: 90%;
      /* border: 2px solid black; */
      display: flex;
      height: 100%;
      margin: auto;
      justify-content: space-between;
       
  }
  
  #naone{
      width: 42.5%;
      height: 100%;
      /* border: 1px solid greenyellow; */
      display: flex;
      justify-content: space-between;
      align-items: center;   
  }
  
  #napic{
      width: 100px;
      height:50%;
      /* border: 1px solid red; */
  }
  
  #napic>img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
  }
  
  #nasearch{
      width: 350px;
      height: 30px;
      border: 1px solid grey;
      border-radius: 5px;
      margin-left: 5px;
  }
  
  #nasearch>input{
      border: none;
      outline: none;
      margin-top: 5px;
      font-size: 9px;
      width: 90%;
      padding-top: 5px;
  }
  
  #nasearch>i{
      color: grey;
      padding-left: 10px;
  }
  
  #natwo{
      width: 44%;
      height: 100%;
      /* border: 1px solid greenyellow; */
      display: flex;  
      align-items: center;  
      justify-content: space-between; 
      font-size: 16px;
      color: #353543;
  }
  
  #naapp{
      display: flex;
      height: 45px;
      width: 32%;
      /* border: 1px solid brown; */
      border-right: 2px solid rgb(161, 160, 160);
      align-items: center;
      font-size: 11px;
  }
  
  #naapp>i{
      /* margin-top: 8px; */
      margin-right: 10px;
     
  }
  
  #nasupp{
      width: 32%;
      height: 35px;
      /* border: 1px solid brown;  */
      border-right: 2px solid rgb(161, 160, 160);
      text-align: center;
      padding-top: 15px;
      font-size: 11px;

  }
  
  #naprofile{
      width: 35%;
      /* border: 1px solid brown; */
      display: flex;
      justify-content: space-around;
      text-align: center;
      line-height: 25px;
      font-size: 11px;
  }
  
  #navdown  {
      width: 100%;
      height: 50px;
      margin: auto;
      /* border-bottom: 1px solid rgb(218, 22, 22); */
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: #353543 ;
      /* margin-top: 70px; */
  }
  #navdown >p{
    font-size: 10px;
  }
  
  #holowest{
      width: 70%;
      height: 280px;
      border: 5px solid rgb(241, 235, 235);
      margin: auto;
      display: flex;
      margin-top: 20px;
  }
  
  #holeft{
  width: 55%;
  /* border: 1px solid red; */
  }
  
  #hotext{
      font-size: 20px;
      font-weight: 600;
      color: #353543;
      margin-top: 50px;
      /* border: 1px solid red; */

  }
  
  #hocon{
      display: flex;
      color: #353543;
      font-size: 9px;
      font-weight: 500;
      padding-left: 5px;
      margin-top: 30px;
      /* border: 5px solid rgb(68, 0, 255); */

  }
  
  #hocon>div{
      /* border-right: 1px solid rgb(224, 9, 9) ; */
      padding-right:20px ;
      padding-top: 5px;
  }
  #hocon>img{
      padding-right: 10px;

  }
  
  #hoplay{
      display: flex;
      width: 300px;
      height: 45px;
      border: 1px solid #9f7d20;
      background-color: #9f2089;
      border-radius: 5px;
      align-items: center;
      color: white;
      margin-top: 30px;
      margin-left: 5px;
  }
  
  #hoplay>img{
      width: 25px;
      height: 30px; 
      margin-left: 20px;
      /* border:1px solid blue; */
  }
  
  #hoplay>p{
      margin-left: 20px;
  /* border:1px solid red; */

  }
  
  #hobody>div:nth-child(2){
      font-size: 11px;
      font-weight: 700;
      margin-left: 470px;
      color: #353543;
      margin-top: 70px;
      /* border:1px solid red; */
  }
  #horight{
  width:50%;
  height: 280px;
  /* border:5px solid red; */

  }
  #horight>img{
    width:100%;
    height: 100%;

  }
  
